<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <div th:replace="common :: myMeta"></div>
</head>
<body id="admin-page">
<div class="d-flex">
    <div class="" id="left">
        <div id="logo">
            Logo
        </div>
        <div class="d-flex flex-column align-items-center" id="userinfo">
            <div class="img-holder">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1.00xw:0.669xh;0,0.190xh&resize=980:*" class="rounded-circle" width="100%" height="100%">
            </div>

            <div><span id="welcome-text">Welcome back,</span></div>
            <div class="username" th:text="${user.username}">Username</div>
        </div>

        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-user-management-list" data-toggle="list" href="#list-user-management" role="tab">User Managements</a>
            <a class="list-group-item list-group-item-action" id="list-product-management-list" data-toggle="list" href="#list-product-management" role="tab">Product Managements</a>
            <a class="list-group-item list-group-item-action" id="list-category-management-list-list" data-toggle="list" href="#list-category-management" role="tab">Category Managements</a>
            <a class="list-group-item list-group-item-action" id="list-order-management-list" data-toggle="list" href="#list-order-management" role="tab">Orders Managements</a>
        </div>




    </div>

    <div class="" id="right">
        <div class="d-flex justify-content-between" id="topnav">
            <div id="current-time">Time: dd/mm/yyyy - hh:mm:ss </div>
            <div id="lang">language: english </div>
        </div>

        <main id="main">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-user-management" role="tabpanel">
                    <h3>User management</h3>
                    <form id="user-search">
                        Find user: <input type="text" name="username" placeholder="username...">
                        <button type="button" class="btn btn-primary" id="btn-search">Search</button>
                        <button type="button" class="btn btn-primary btn-modal" id="btn-add-user">Add user</button>
                    </form>


                    <div class="row data-header">
                        <div class="col">Username</div>
                        <div class="col">Full name</div>
                        <div class="col">Email</div>
                        <div class="col">Phone</div>
                        <div class="col">Registered Time</div>
                        <div class="col">Is Active</div>
                    </div>
                    <div class="data-details">
                    </div>

                </div>
                <div class="tab-pane fade" id="list-product-management" role="tabpanel">
                    <h3>Product management</h3>

                    <form id="product-search">
                        Find product: <input type="text" name="productId" placeholder="Product id...">
                        <button type="button" class="btn btn-primary btn-search">Search</button>
                        <button type="button" class="btn btn-primary btn-modal" id="btn-add-product">Create Product</button>
                    </form>

                    <form id="product-filter">
                        Filter:

                        <label for="sortType">Sort type</label>
                        <select id="sortType" name="sortType">
                            <option>Giá thấp nhất</option>
                            <option>Giá cao nhất</option>
                            <option>Phổ biến nhất</option>
                            <option>Bán chạy</option>
                        </select>
                        Giá: <input type="number" id="from" name="to"> - <input type="number" id="to" name="to">
                        <button type="button" class="btn btn-primary" id="btn-filter-product">Apply Filter</button>
                    </form>


                    <div class="data-table">
                        <div class="row data-header">
                            <div class="col">Product Id</div>
                            <div class="col">Product name</div>
                            <div class="col">Product price</div>
                            <div class="col">Product creator</div>
                            <div class="col">Product Description</div>
                            <div class="col">Created Time</div>
                            <div class="col">Last updated</div>
                        </div>
                        <div class="data-details">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-category-management" role="tabpanel">
                    <h3>Category management</h3>

                    <form id="category-search">
                        Find Category: <input type="text" name="categoryId" placeholder="Category id...">
                        <button type="button" class="btn btn-primary btn-search">Search</button>
                        <button type="button" class="btn btn-primary btn-modal" id="btn-add-category">Create Category</button>
                    </form>


                    <div class="data-table">
                        <div class="row data-header">
                            <div class="col">Category Id</div>
                            <div class="col">Category name</div>
                            <div class="col">Category Creator</div>
                            <div class="col">Created Time</div>
                            <div class="col">Last updated</div>
                        </div>
                        <div class="data-details">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-order-management" role="tabpanel">
                    <h3>Order management</h3>

                    <div>still working on this</div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div class="my-modal" id="modal-add-user" id-target="btn-add-user">
    <form id="adduser-form">
        <button class="btn btn-danger modal-close">close</button>
        <div class="form-group">
            Username: <input id="add-user-username" class="form-control">
        </div>
        <div class="form-group">
            Password: <input id="add-user-password" class="form-control">
        </div>
        <div class="form-group">
            Full Name: <input id="add-user-fullName" class="form-control">
        </div>
        <div class="form-group">
            Phone Number: <input id="add-user-phoneNumber" class="form-control">
        </div>
        <div class="form-group">
            Email: <input id="add-user-email" class="form-control">
        </div>
        <div class="form-group">
            Role:
            <select class="custom-select" id="authorities">
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
        </div>

        <button type="button" class="btn btn-primary btn-submit" id="btn-add-submit">Submit</button>
        <div class="form-group">
            <div class="error"></div>
        </div>
    </form>
</div>
<div class="my-modal" id-target="btn-add-product">
    <form id="create-product-form">
        <button type="button" class="btn btn-danger modal-close">Close</button>
        <div class="form-group">
            Product Name: <input type="text" class="form-control" id="productName" name="productName">
        </div>
        <div class="form-group">
            Product Price: <input type="text" class="form-control" id="productPrice" name="productPrice">
        </div>
        <div class="form-group">
            Product Description: <input type="text" class="form-control" id="productDescription" name="productDescription">
        </div>
        <div class="form-group">
            Product Description: <input type="text" class="form-control" id="productImage" name="productDescription">
        </div>

        <div class="form-group">

            Category:
            <select id="categories" name="categories" class="custom-select">

            </select>
        </div>
        <input type="hidden" th:value="${user.id}" id="productCreator">
        <button type="button" class="btn btn-primary btn-submit">Submit</button>
        <div class="form-group">
            <div class="error"></div>
        </div>
    </form>
</div>
<div class="my-modal" id-target="btn-add-category">
    <form id="create-category-form">
        <button type="button" class="btn btn-danger modal-close">Close</button>
        <div class="form-group">
            Category Name: <input type="text" class="form-control" id="categoryName" name="categoryName">
        </div>
        <div class="form-group">
            Parent Category: <input type="text" class="form-control" id="categoryParent" name="categoryParent">
        </div>
        <div class="form-group">
            Description: <input type="text" class="form-control" id="categoryDescription" name="categoryDescription">
        </div>
        <input type="hidden" th:value="${user.id}" id="categoryCreator">
        <button type="button" class="btn btn-primary btn-submit">Submit</button>
        <div class="form-group">
            <div class="error"></div>
        </div>
    </form>
</div>
<div th:insert="common :: footer"></div>
</body>
</html>